<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOTNOI DSE Group 8 - Home</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
    <style type="text/css">
      html,
      body {
        font-family: "Kanit", "sans-serif";
      }
      .has-spacing {
        letter-spacing: 0.5rem;
      }
      .align-item-top {
        align-items: flex-start !important;
      }
    </style>
  </head>
  <body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top">
      <div class="container">
        <div class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item">Home</a>
            <a href="team.html" class="navbar-item">Team</a>
            <a href="document.html" class="navbar-item">Document</a>
          </div>
        </div>
      </div>
    </nav>

    <section class="hero is-link is-fullheight-with-navbar is-primary">
      <div class="hero-body align-item-top">
        <section class="section">
          <div class="container">
            <h1 class="title">
              การ deploy เข้า heroku แบบอัตโนมัติจากการ push commit เข้า git
            </h1>
            <h2 class="subtitle">
              เพื่อความสะดวกและป้องกันการลืมขั้นตอนต่างๆ ที่ไม่จำเป็น
            </h2>
          </div>
        </section>
      </div>
    </section>
  </body>
</html>
