{% extends "base.html" %} {% block content %}
<section class="hero is-link is-fullheight-with-navbar is-primary">
  <div class="hero-body align-item-top">
    <section class="section">
      <div class="container">
        <h1 class="title">
          การ deploy เข้า heroku แบบอัตโนมัติจากการ push commit เข้า git
        </h1>
        <h2 class="subtitle">
          เพื่อความสะดวกและป้องกันการลืมขั้นตอนต่างๆ ที่ไม่จำเป็น
        </h2>
      </div>
    </section>
  </div>
</section>
{% endblock content %}
