{% extends "base.html" %} {% block content %}
<section class="hero is-link is-fullheight-with-navbar is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column is-6 is-offset-2">
          <form onsubmit="return false">
            <!-- Area -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white"
                  >พื้นที่ใช้สอย (ตร.ม.)</label
                >
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="area"
                      value="30"
                      placeholder="กรอกพื้นที่ใช้สอย หน่วยตารางเมตร"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- floors -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">ชั้น</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="floors"
                      value="10"
                      placeholder="ชั้นที่อยู่ของห้อง"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- ห้องนอน -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">ห้องนอน</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      id="bedrooms"
                      value="1"
                      placeholder="จำนวนห้องนอน"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- ห้องน้ำ -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label has-text-white">ห้องน้ำ</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <input
                      class="input"
                      type="text"
                      value="1"
                      id="restrooms"
                      placeholder="จำนวนห้องน้ำ"
                    />
                  </div>
                </div>
              </div>
            </div>

            <!-- Search button -->
            <div class="field is-horizontal">
              <div class="field-label">
                <!-- Left empty for spacing -->
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control">
                    <button
                      id="predict-btn"
                      class="button is-primary"
                      onclick="predict()"
                    >
                      Predict now!
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="result-dlg">
  <div class="modal-background" onclick="closeDialog()"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">ผลการประเมิน</p>
      <button
        class="delete"
        onClick="closeDialog()"
        aria-label="close"
      ></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->
      <div class="columns">
        <div class="column has-text-centered">ราคาประเมิน</div>
      </div>
      <div class="columns">
        <div
          class="column has-text-bold has-text-centered is-size-3 has-text-weight-bold"
          id="predict-result"
        ></div>
      </div>
      <div class="columns">
        <div class="column">
          <div>API response</div>
          <code id="raw-response"> </code>
        </div>
      </div>
    </section>
    <footer class="modal-card-foot modal-footer">
      <button class="button is-success" onClick="closeDialog()">ปิด</button>
    </footer>
  </div>
</div>

<script type="application/javascript">
  function predict() {
    const areaElement = document.querySelector("#area");
    const floorElement = document.querySelector("#floors");
    const bedroomElement = document.querySelector("#bedrooms");
    const restroomElement = document.querySelector("#restrooms");

    const area = parseFloat(areaElement.value) || 0.0;
    const floors = parseInt(floorElement.value, 10) || 0;
    const bedrooms = parseInt(bedroomElement.value, 10) || 0;
    const restrooms = parseInt(restroomElement.value, 10) || 0;

    if (area <= 0) {
      return alert("กรุณากรอกพื้นที่ใช้สอยที่ต้องการประเมินราคา");
    }
    if (floors <= 0) {
      return alert("กรุณากรอกชั้นที่ต้องการประเมินราคา");
    }
    if (bedrooms <= 0) {
      return alert("กรุณากรอกจำนวนห้องนอนที่ต้องการประเมินราคา");
    }
    if (restrooms <= 0) {
      return alert("กรุณากรอกจำนวนห้องน้ำที่ต้องการประเมินราคา");
    }

    // set data back to all inputs
    areaElement.value = area;
    floorElement.value = floors;
    bedroomElement.value = bedrooms;
    restroomElement.value = restrooms;

    callApi({ area, bedrooms, restrooms, floors })
      .then((response) => {
        const resultDlg = document.querySelector("#result-dlg");
        const predictResult = document.querySelector("#predict-result");
        const rawResponse = document.querySelector("#raw-response");
        // alert("Response\n" + JSON.stringify(response.data.expected_price));
        if (resultDlg) {
          resultDlg.classList.add("is-active");
          predictResult.innerHTML =
            numeral(response.data.expected_price).format("0,0.0000") + " บาท";
          rawResponse.innerHTML = JSON.stringify(response.data, null, 2);
        } else {
          alert(
            "Predicted Price " +
              numeral(response.data.expected_price).format("0,0.0000")
          );
        }
      })
      .catch((e) => {
        console.log(e);
        alert("Error", e);
      });
  }

  function closeDialog() {
    const resultDlg = document.querySelector("#result-dlg");
    resultDlg.classList.remove("is-active");
  }
</script>

{% endblock content %}
